:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#map {
  height: 100%;
  width: 100%;
}

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding: 0;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 0;
  width: fit-content;
}

.map-overlay-inner fieldset:last-child {
  margin: 0;
}

.map-overlay-inner img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 2px;
  display: block;
  margin-bottom: 4px;
}

.map-overlay-inner button {
  cursor: pointer;
}
.map-overlay-inner button .active {
  border: 2px solid #000;
}

.map-overlay-inner button:focus {
  outline: none;
}

.map-overlay-inner button:hover {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.map-overlay-inner img {
  display: block;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
